/ControleFinanceiroWEB/nbproject/private/
/ControleFinanceiroWEB/build/
/ControleFinanceiroWEB/dist/
*.ini
*.class
/ControleFinanceiroServidor/DbFinance/nbproject/private/
/$Old/dbFinance/build/
/$Old/dbFinance/nbproject/private/
/WS_Finance/build/
/ClienteWEB/nbproject/private/
/ClienteWEB/build/